/* # =================================================================
   # MovingForm
   # ================================================================= */
   .form {
    max-width: 720px;
    margin: 0 auto;
  }
  .route,
  .quantity {
    display: grid;
    gap: 24px;
  }
  .route {
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity {
    grid-template-columns: repeat(3, 1fr);
  }
  .form label {
    display: block;
    margin-bottom: 8px;
  }
  .form select,
  .form input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px;
  }
  .form button {
    margin-top: 32px;
    padding: 12px 24px;
  }